html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --greyBorder : rgba(128, 128, 128, 0.4);
}

body {
  width: 80%;
  height: 99vh;
  margin: 0 auto;
  border: .25rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
p { font-size: 1.5rem; }
button { font-size: 1.25rem; }
span { font-size: 1.25rem; }

h1, h2, p, button, span {
  font-family: helvetica, tahoma, serif;
  text-align: center;
  margin: 0 auto;
  padding: .25rem;
  background-color: none;
}
/* Button styles. ----------------------------------- */
 button {
   background-color: black;
   color: white;
   border-radius: 8px;
 }
 button:hover {
   background-color: white;
   color: black;
   cursor: pointer;
 }
 /* The header styles. ---------------------------------- */
 .header {
   width: 100%;
   height: 16vh;
   background-color: white;
   border-bottom: .25rem solid black;
   padding-bottom: .5rem;
 }
 /* The main container. --------------------------------- */
 .main {
   width: 100%;
   height: 82vh;
   padding: 1%;
   /* padding: .5rem; */
   display: grid;
   grid-template-rows: 17% 17% 22% 8% 31%;
   /* grid-template-rows: auto auto auto auto auto; */
   grid-row-gap: .5rem;
 }
 /* The colour selection containers. -------------------- */
.colScrollCont {
  border: .15rem solid black;
}
.horizontalColDiv {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  border: .15rem solid black;
}
.horizontalColItem {
  display: inline-block;
  min-height: 50px;
  min-width: 100px;
  padding: 0;
  margin: 0;
  /* background-color: powderblue; */
  border: .1rem solid var(--greyBorder);
}
.horizontalColItem:hover {
  cursor: pointer;
}
/* The sample text container. --------------------------- */
.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .15rem solid black;
}
.elementTypeCont {
  width: 90%;
  padding: 0;
}
.elementTypeCont h1, .elementTypeCont h2, .elementTypeCont p {
  border: .1rem solid var(--greyBorder);
}
.elementTypeCont h1 span, .elementTypeCont h2 span, .elementTypeCont p span {
  display: inline-block;
}
/* The buttons container. ------------------------------- */
.buttonsContainer {
  display: flex;
  justify-content: space-around;
  border: .15rem solid black;
  padding: .15rem 1rem;
}
.buttonsContainer * {
  width: 12%;
}
.buttonsContainer span {
  border: .1rem solid var(--greyBorder);
}
/* The fonts scroll container. -------------------------- */
.fontScrollCont {
  position: relative;
  border: .15rem solid black;
  overflow-y: scroll;
}
.guideMessage {
  position: sticky;
  top: 0;
  width: 100%;
  color: white;
  background-color: black;
}
/* .fontsDiv {
} */
.fontScrollItemDiv {
  width: 100%;
  height: 2rem;
  border: .1rem solid var(--greyBorder);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fontScrollItemDiv:hover {
  cursor: pointer;
}
.fontItemText {
  min-width: 40%;
  height: 1.6rem;
  font-size: 1.1rem;
  padding: .1rem;
  border: .1rem solid var(--greyBorder);
  background-color: white;
}
/* The hide class. ---------------------------------------*/
.hide {
  display: none;
}
 /* Body and Font size queries.-------------------------- */
 @media screen and (max-width: 850px){
   html { font-size: 12px; }
 }
 @media screen and (max-width: 450px){
   html { font-size: 9px; }
   /* button { font-size: 2rem; } */
 }
 @media screen and (max-width: 560px){
   body { width: 100%; }
 }
 /* Header and grid section vh adjustments. ---------------- */
 @media screen and (max-width: 850px){
   .header { height: 12vh; }
   .main { height: 86vh; }
 }
 @media screen and (max-width: 450px){
   .header { height: 10vh; }
   .main { height: 89vh; }
 }
 @media screen and (max-width: 350px){
   h1 { font-size: 2.75rem; }
   h2 { font-size: 1.75rem; }
 }
 @media screen and (max-width: 304px){
   .header { height: 13vh; }
   .main { height: 86vh; }
 }
 /* Horizontal colour items. ------------------------------ */
 @media screen and (max-width: 450px){
   .horizontalColItem {
     min-height: 35px;
     min-width: 75px;
   }

 }
